<div style="background-color: white; height: 70px;color: black;">
    <br>    
    <div style="margin-left: 900px;">
        <h3 style=" display: inline;"><a href="/home/Namrata Rane">Home</a> </h3> &nbsp;&nbsp;
        <h3 style=" display: inline;"><a href="/contact">Contact Us</a> </h3> &nbsp;&nbsp;


        <h3 style=" display: inline;"><a href="/people">People</a> </h3> &nbsp;&nbsp;
        <h3 style=" display: inline;"><a href="/login">Login</a> </h3> &nbsp;&nbsp;



        <h3 style=" display: inline;"><%= userName %> </h3>
    </div>


</div>