<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>

<body style="text-align: center;">
    <h1>Dashboard page</h1>
<h2 style="color: crimson;">helllo <%= user.charAt(0).toUpperCase() + user.slice(1) %></h2>
<a href="/users/logout">Logout</a>
    

</body>

</html>