<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: orange; color: black; ">

    <%- include('partials/header') %>
    <!-- <div style="background-color: white; height: 70px   ;text-align: right;color: black;">
        <br>
        <h3><%= userName %> </h3>
    </div> -->
    <h3 style="text-align: center;">!!!!!!!!!!!!!! Welcome to People page !!!!!!!!!!!! </h3>
    <!-- <h3 style="text-align: center;"> welcome <%= userName%></h3> -->
    <table>
        <tr>
            <td style="padding-left: 50px;">
                <div style="background-color: white; width: 200px;height: 200px; text-align:center;">
                    <img src="/images/gents2.jpg" style="width: 170px;height: 170px; " alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                </div>
            </td>
            <td style="padding-left: 50px;">
                <div style="background-color: white; width: 200px;height: 200px; text-align: center;">
                    <img src="/images/images.jpg" style="width: 170px;height: 170px; " alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>

                </div>
            </td>
            <td style="padding-left: 50px;">
                <div style="background-color: white; width: 200px;height: 200px; text-align: center;">
                    <img src="/images/ladyImg2.png" style="width: 160px;height: 160px; " alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>

                </div>
            </td>
            <td style="padding-left: 50px;">
                <div style="background-color: white; width: 200px;height: 200px; text-align: center;">
                    <img src="/images/images.jpg" style="width: 170px;height: 170px; " alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>

                </div>
            </td>&nbsp
            <td style="padding-left: 50px;">
                <div style="background-color: white; width: 200px;height: 200px; text-align: center;">
                    <img src="/images/gents.jpg" style="width: 160px;height: 160px;" alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                   

                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 50px; padding-top: 40px; text-align: center;">
                <div style="background-color: white; width: 200px;height: 200px;">
                    <img src="/images/gents.jpg" style="width: 160px;height: 160px;" alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                   
                </div>
            </td>
            <td style="padding-left: 50px; padding-top: 40px; text-align: center;">
                <div style="background-color: white; width: 200px;height: 200px;">
                    <img src="/images/gents.jpg" style="width: 160px;height: 160px;" alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                   
                </div>
            </td>
            <td style="padding-left: 50px; padding-top: 40px; text-align: center;">
                <div style="background-color: white; width: 200px;height: 200px;">
                    <img src="/images/gents2.jpg" style="width: 160px;height: 160px;" alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                   
                </div>
            </td>
            <td style="padding-left: 50px; padding-top: 40px; text-align: center;">
                <div style="background-color: white; width: 200px;height: 200px;">
                    <img src="/images/ladyImg2.png" style="width: 160px;height: 160px;" alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                   
                </div>
            </td>&nbsp;
            <td style="padding-left: 50px; padding-top: 40px; text-align: center;">
                <div style="background-color: white; width: 200px;height: 200px;">
                    <img src="/images/images.jpg" style="width: 160px;height: 160px;" alt="">
                    <h3 style="margin-top: 2px;">Namrata Rane</h3>
                   
                </div>
            </td>
        </tr>



    </table>
    <!-- <%- include('partials/footer') %> -->
</body>

</html>